
html{

  font-size: 1vw;
}

body{
  background-color:#eef5ff;
}

section {
  width: 100%;

}

.section-flex{
  display: flex;
  justify-content: center;
}

.gen-sec-grid{
    padding: 30px 10%;

}

.boleta-title{
  color:#34495e;
}