
html{

  font-size: 1vw;
}

body{
  background-color:#eef5ff;
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gen-sec-grid{
    padding: 30px 10%;

}